<section class="header">
  <a href="/" class="logo">FTI</a>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="berita">Berita</a>
    <a href="org">Organisasi</a>
    <a href="daftar">Pendaftaran</a>
  </nav>
  <nav class="add">
    <% if(accessToken){%>
    <i class="bx bx-bell"></i>
    <a href="chat" class="chat"><i class="bx bx-chat"></i></a>
    <img src="/img/foto.png" class="user-pic" onclick="toggleMenu()" />
    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="/img/foto.png" />
          <h3>Nama</h3>
        </div>
        <hr />
        <a href="profil" class="sub-menu-links"
          ><p>Profile</p>
          <span>></span></a
        >
        <hr />
        <form action="/logout" method="post">
          <button type="submit" class="logut">
            <i class="bx bxs-log-out"></i> <span>Logout</span>
          </button>
        </form>
      </div>
    </div>
    <%} else {%>
    <a href="login">Login</a>
    <%}%>
  </nav>

  <script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu() {
      subMenu.classList.toggle("open-menu");
    }
  </script>
</section>
