<section class="header">
  <a href="/home" class="logo">FTI</a>
  <nav class="navbar">
    <a href="/home">Home</a>
    <a class="fungs" onclick="toggleMenuMenu()"
      >Menu<i class="bx bxs-chevron-down"></i
    ></a>
    <div class="sub-fungs-wrap" id="subFungs">
      <div class="sub-fungs">
        <div class="fungsi">
          <a href="/berita" class="sub-fungs-links"
            ><p>Berita</p>
            <span>></span></a
          >
          <hr />
          <a href="/org" class="sub-fungs-links"
            ><p>Organisasi</p>
            <span>></span></a
          >
          <hr />
          <a href="/activity" class="sub-fungs-links"
            ><p>Kegiatan</p>
            <span>></span></a
          >
        </div>
      </div>
    </div>
    <a class="daftar" onclick="toggleMenuDaftar()"
      >Pengajuan<i class="bx bxs-chevron-down"></i
    ></a>
    <div class="sub-daftar-wrap" id="subDaftar">
      <div class="sub-daftar">
        <div class="pendaftaran">
          <a href="/daftarorg" class="sub-daftar-links"
            ><p>Pengajuan Organisasi</p>
            <span>></span></a
          >
          <hr />
          <a href="/daftarkgt" class="sub-daftar-links"
            ><p>Pengajuan Kegiatan</p>
            <span>></span></a
          >
          <hr />
          <a href="/daftarnews" class="sub-daftar-links"
            ><p>Pengajuan Publikasi</p>
            <span>></span></a
          >
          <hr />
          <a href="/laporKegiatan" class="sub-daftar-links"
            ><p>Laporan Kegiatan</p>
            <span>></span></a
          >
        </div>
      </div>
    </div>
  </nav>
  <nav class="add">
    <i class="bx bx-bell"></i>
    <a href="/room" class="chat"><i class="bx bx-chat"></i></a>
    <img src="/img/fti.jpg" class="user-pic" onclick="toggleMenu()" />
    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <h3>Halo, <%= mhs.nama || "Mahasiswa" %></h3>
        </div>
        <hr />
        <a href="/profil" class="sub-menu-links"
          ><p>Profile</p>
          <span>></span></a
        >
        <hr />
        <form action="/logout" method="post">
          <button type="submit" class="logut">
            <i class="bx bxs-log-out"></i> <span>Logout</span>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu() {
      subMenu.classList.toggle("open-menu");
    }
    let subDaftar = document.getElementById("subDaftar");
    function toggleMenuDaftar() {
      subDaftar.classList.toggle("open-daftar");
    }
    let subFungs = document.getElementById("subFungs");
    function toggleMenuMenu() {
      subFungs.classList.toggle("open-fungs");
    }
  </script>
</section>
