<section class="header">
  <a href="/" class="logo">FTI</a>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="publish">Berita</a>
    <a href="himp">Organisasi</a>
    <a class="daftar" onclick="toggleMenuDaftar()">Pengajuan</a>
    <div class="sub-daftar-wrap" id="subDaftar">
      <div class="sub-daftar">
        <div class="pendaftaran">
          <a href="dafkgt" class="sub-daftar-links"
            ><p>Pengajuan Kegiatan</p>
            <span>></span></a
          >
          <hr />
          <a href="dafnews" class="sub-daftar-links"
            ><p>Pengajuan Publikasi</p>
            <span>></span></a
          >
        </div>
      </div>
    </div>
  </nav>
  <nav class="add">
    <div class="notification-icon">
      <i class="bx bx-bell"></i>
    </div>
    <img src="/img/fti.jpg" class="user-pic" onclick="toggleMenu()" />
    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <h3>Halo,</h3>
        </div>
        <hr />
        <a href="orga" class="sub-menu-links"
          ><p>Profile</p>
          <span>></span></a
        >
        <hr />
        <form action="/logout" method="post">
          <button type="submit" class="logut">
            <i class="bx bxs-log-out"></i> <span>Logout</span>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu() {
      subMenu.classList.toggle("open-menu");
    }
    let subDaftar = document.getElementById("subDaftar");
    function toggleMenuDaftar() {
      subDaftar.classList.toggle("open-daftar");
    }
    let subNotif = document.getElementById("subNotif");
    function toggleMenuNotif() {
      subDaftar.classList.toggle("open-notif");
    }
  </script>
</section>
