<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Admin FTI</title>
  </head>
  <body>
    <form action="/logout" method="post">
      <button type="submit" class="logut">
        <i class="bx bxs-log-out"></i> <span>Logout</span>
      </button>
    </form>
    <h1>Hello Admin FTI</h1>
  </body>
</html>
