<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Log In</title>
  </head>
  <body class="login">
    <div class="wrapper">
      <form action="/" method="post">
        <h1>Log In</h1>
        <h2>FTI Organizer Hub</h2>
        <div class="input-box">
          <input type="text" name="nim" placeholder="NIM" required />
          <i class="bx bxs-user-pin"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            name="password"
            placeholder="Password"
            requireds
          />
          <i class="bx bx-lock-alt"></i>
        </div>
        <button type="submit" name="login" class="log">Log In</button>
        <!-- <div class="daftar">
          <p>Lihat Layanan <a href="/home">Disini</a></p>
        </div> -->
      </form>
    </div>
  </body>
</html>
