<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="assets/profile.css">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
</head>

<body>
  
    <span class="main_bg"></span>
    <div class="container">

        <header>
            <div class="brandLogo">
                <figure><img src="../img/unand.png" alt="logo" width="40px" height="40px"></figure>
                <span>FTIOrganizerhub</span>
            </div>
        </header>

        <section class="userProfile card">
            <div class="profile">
                <figure><img src="../img/foto.png" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>

        <section class="userDetails card">
          <div class="userName">
              <div class="info-box">
                  <h1 class="name">Khalied Maturino</h1>
              </div>
              <div class="info-box">
                  <h1 class="NIM">221153339</h1>
              </div>
              <div class="info-box">
                  <h1 class="jurusan">Sistem Informasi</h1>
              </div>
              <div class="info-box">
                  <h1 class="fakultas">Teknologi Informasi</h1>
              </div>
          </div>
      </section>
      

        <section class="timeline_about card">
            <div class="tabs">
                <ul>

                    <li class="about">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info">
                <h1 class="heading">Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info">082284930000</span>
                    </li>

                    <li class="address">
                        <h1 class="label">Address:</h1>
                        <span class="info">Padang <br> Gunung Pangilun</span>
                    </li>

                    <li class="email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info">khalied@gmail.com</span>
                    </li>

                </ul>
            </div>

           

</body>

</html>
