<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/2f44a5b4a9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/style.css" />
    <title>Chat with Peace</title>
  </head>
  <body>
    <div class="chat-container">
      <header class="chat-header">
        <h1><i class="fas fa-smile"></i> Chat with Peace</h1>
        <a href="room" class="btn"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-comments"></i> Nama Room:</h3>
          <h2 id="room-name"></h2>
          <h3><i class="fas fa-users"></i> Pengguna Aktif</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-content">
          <div class="chat-messages">
            <div class="message">
              <p class="meta">System</p>
              <p class="text" style="text-align: justify">
                ⚠️Mohon gunakan kata-kata yang baik dan sopan, berbahasa
                Indonesia yang benar, buat forum ini menjadi wadah bertukar
                pikiran, berdiskusi, beropini. Jangan jadikan sebagai tempat
                menyebar kebencian, menyebar hoax, menyebar aib orang. Gunakan
                dengan bijak. Anda adalah MAHASISWA!⚠️
              </p>
            </div>
            <hr />
          </div>
          <div class="chat-form-container">
            <form id="chat-form" class="form-inline">
              <input
                id="msg"
                type="text"
                placeholder="Enter Message"
                required
                autocomplete="off"
              />
              <button class="kirim">
                <i class="fas fa-paper-plane"></i> Send
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("organisasi_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      socket.on("organisasi_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "organisasi") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.12.1/qs.min.js"
      integrity="sha512-vuLOE4Fh9lfxaN9n81Vl1HwrqMYz9WKoNmsHNC7Hz7OWX4k4O7FjCyQ1tQ82RJExao+Fas40RLiS5PCfVRGgnQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/forChat.js"></script>
  </body>
</html>
