<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Pengajuan Publikasi</title>
  </head>

  <body>
    <%- include('../komponen/navMhs');%>

    <div class="heading" style="background: url(/img/fti15.jpg) no-repeat">
      <h1>Pengajuan Publikasi</h1>
    </div>
    <section class="dafnews">
      <h1 class="heading-title">Publish Berita, Pengumuman, dan Opini!</h1>
      <form
        action="/publishnews"
        method="post"
        class="dafnews-form"
        id="dafnews"
        enctype="multipart/form-data"
      >
        <div class="flex">
          <div class="inputbox">
            <h4 class="data">Data Penulis</h4>
            <span>Nama Penulis</span>
            <input
              type="text"
              placeholder="masukan nama penulis"
              name="penulis"
              required
            />
          </div>
          <div class="inputbox">
            <h4 class="data">Data Publikasi</h4>
            <span>Kategori Publikasi</span>
            <select id="namaKategori" name="kategori" required>
              <option value="" disabled selected hidden>
                ---Pilih Kategori Publikasi yang Sesuai---
              </option>
              <% kategoris.forEach(kategori => { %>
              <option value="<%= kategori.idKategori %>">
                <%= kategori.namaKategori %>
              </option>
              <% }) %>
            </select>
          </div>
          <div class="inputbox">
            <span>NIM Penulis</span>
            <input
              type="text"
              placeholder="masukan NIM penulis"
              name="nimPenulis"
              required
            />
          </div>
          <div class="inputbox">
            <span>Judul</span>
            <input
              type="text"
              placeholder="masukan judul publikasi"
              name="judul"
              required
            />
          </div>
          <div class="inputbox"></div>
          <div class="inputbox">
            <span>Isi</span>
            <textarea
              name="isi_berita"
              placeholder="Masukan Isi Tulisan"
            ></textarea>
          </div>
          <div class="inputbox"></div>
          <div class="inputbox">
            <span>Gambar (.png/.jpg/.jpeg)</span>
            <input
              type="file"
              placeholder="pilih gambar"
              name="gambar"
              accept="image/*"
              required
            />
          </div>
          <div class="inputbox"></div>
          <div class="inputbox">
            <span>Tanggal Pengajuan <b>(mm/dd/yyyy)</b></span>
            <input
              type="date"
              name="tanggalPengajuan"
              id="tanggalPengajuan"
              readonly
            />
          </div>
        </div>
        <label
          ><input type="checkbox" required />Informasi di atas sudah
          benar</label
        >
        <div class="tombol">
          <input
            type="submit"
            name="send"
            value="submit"
            class="btn"
            id="btn"
            style="width: 100%"
          />
        </div>
        <script>
          document
            .getElementById("dafnews")
            .addEventListener("submit", async function (event) {
              event.preventDefault();

              const formData = new FormData(this);
              try {
                const response = await fetch("/publishnews", {
                  method: "POST",
                  body: formData,
                });

                if (response.ok) {
                  alert("Informasi tersimpan");
                  window.location.href = "daftarnews";
                } else {
                  const errorData = await response.json();
                  alert("Gagal menyimpan informasi: " + errorData.message);
                }
              } catch (error) {
                console.error("Error:", error);
                alert("Terjadi kesalahan pada server");
              }
            });
        </script>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const dateInput = document.getElementById("tanggalPengajuan");

            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, "0");
            const dd = String(today.getDate()).padStart(2, "0");

            const formattedDate = `${yyyy}-${mm}-${dd}`;

            dateInput.value = formattedDate;
          });
        </script>
      </form>
    </section>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("organisasi_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      socket.on("organisasi_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "organisasi") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
