<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Pendaftaran Organisasi</title>
  </head>

  <body>
    <div class="content">
      <h2>Pendaftaran Organisasi</h2>
      <!-- Tambahkan konten formulir atau informasi lainnya di sini -->
    </div>
  </body>
  </html>
  