<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Laporan Kegiatan</title>
  </head>

  <body>
    <%- include('../komponen/navMhs');%>

    <div class="heading" style="background: url(/img/fti15.jpg) no-repeat">
      <h1>Laporan Kegiatan</h1>
    </div>
    <section class="dafnews">
      <h1 class="heading-title">Isi laporan kegiatan</h1>
      <form
        action="/laporK"
        method="post"
        class="dafnews-form"
        id="dafnews"
        enctype="multipart/form-data"
      >
        <div class="flex">
          <div class="inputbox">
            <h4 class="data">Data Kegiatan</h4>
            <span>Nama Kegiatan</span>
            <select id="namaKegiatan" name="idKegiatan">
              <option value="" disabled selected hidden>
                ---Pilih Kegiatan yang Sesuai---
              </option>
              <% kegiatan.forEach(kegiatan => { %>
              <option value="<%= kegiatan.idKegiatan %>">
                <%= kegiatan.namaKegiatan %>
              </option>
              <% }) %>
            </select>
          </div>
          <div class="inputbox">
            <h4 class="data">Dokumen</h4>
            <span>Laporan Pertanggung Jawaban (.pdf)</span>
            <input type="file" name="laporanKegiatan" />
          </div>
          <div class="inputbox">
            <span>Jumlah Partisipan</span>
            <input
              type="text"
              name="jumlahPeserta"
              style="appearance: none; -moz-appearance: textfield"
            />
          </div>
          <div class="inputbox">
            <span>Dokumentasi 1 (.jpg/.jpeg/.png)</span>
            <input type="file" name="dok1" />
          </div>
          <div class="inputbox"></div>
          <div class="inputbox">
            <span>Dokumentasi 2 (.jpg/.jpeg/.png)</span>
            <input type="file" name="dok2" />
          </div>
          <div class="inputbox"></div>
          <div class="inputbox">
            <span>Dokumentasi 3 (.jpg/.jpeg/.png)</span>
            <input type="file" name="dok3" />
          </div>
        </div>
        <div class="tombol">
          <input
            type="submit"
            name="send"
            value="submit"
            class="btn"
            id="btn"
            style="width: 100%"
          />
        </div>
        <script>
          document
            .getElementById("dafnews")
            .addEventListener("submit", async function (event) {
              event.preventDefault();

              const formData = new FormData(this);
              try {
                const response = await fetch("/laporK", {
                  method: "POST",
                  body: formData,
                });

                if (response.ok) {
                  Swal.fire({
                    icon: "success",
                    title: "Success",
                    text: "Informasi tersimpan",
                    confirmButtonText: "OK",
                  }).then(() => {
                    window.location.href = "/laporKegiatan";
                  });
                } else {
                  const errorData = await response.json();
                  Swal.fire({
                    icon: "error",
                    title: "Invalid Data",
                    text: errorData.message,
                    confirmButtonText: "OK",
                  });
                }
              } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                  icon: "error",
                  title: "Error",
                  text: "Terjadi kesalahan pada server",
                  confirmButtonText: "OK",
                });
              }
            });
        </script>
      </form>
    </section>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("organisasi_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      socket.on("organisasi_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "organisasi") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
