/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --warna: #3c5b6f;
  --hitam: #222;
  --putih: #fff;
  --krem: #f3d7ca;
  --kremMud: #f5eee6;
  --putihdikit: #fff8e3;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--hitam);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--warna);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--warna);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .logut {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  display: flex;
  width: 100%;
  transition: var(--tran-03);
  padding: 10px 0;
}

.menu-bar .bottom-content .logut .text {
  margin-right: 1rem;
}

.menu-bar .bottom-content .logut:hover {
  background-color: var(--warna);
}

.menu-bar .bottom-content .logut:hover .icon,
.menu-bar .bottom-content .logut:hover .text {
  color: var(--sidebar-color);
}

body.dark .menu-bar .bottom-content .logut:hover .icon,
body.dark .menu-bar .bottom-content .logut:hover .text {
  color: var(--text-color);
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-wrap: wrap;
}

.home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.home .header .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.home .header .notification-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 6.5%;
  right: 10%;
  transform: translateY(-50%);
}

.home .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.home .content .isian {
  box-shadow: var(--box-shadow);
  background: var(--light-white);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
}

.home .content .isian p {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--hitam);
  text-align: justify;
  text-transform: none;
}

.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
}

.notification {
  background-color: #f0f8ff;
  border: 1px solid #dcdcdc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar.close ~ .home,
.sidebar.close ~ .berita,
.sidebar.close ~ .kegiatan,
.sidebar.close ~ .organisasi,
.sidebar.close ~ .pengguna {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home,
body.dark .berita,
body.dark .kegiatan,
body.dark .organisasi,
body.dark .pengguna {
  color: var(--text-color);
}

body.dark .home .content .isian,
body.dark .berita .informasi table,
body.dark .kegiatan .list-kegiatan table,
body.dark .organisasi .list-organisasi table,
body.dark .pengguna .list-pengguna table {
  background: var(--putih);
  color: var(--hitam);
}

.news {
  overflow-x: hidden;
  display: flex;
}

.berita {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.berita .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.berita .header .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 40px;
}

.berita .header .notification-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 9%;
  right: 10%;
  transform: translateY(-50%);
}

.berita .informasi {
  display: flex;
  flex-direction: column;
}

.berita .informasi .button-container {
  margin-bottom: 2rem;
}

.berita .informasi .table {
  margin: 1rem;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 10px;
  background: var(--kremMud);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

th,
td {
  border: var(--border);
  padding: 0.4rem;
  text-align: center;
  text-transform: none;
}

td {
  background: var(--kremMud);
  color: var(--hitam);
}

th {
  background: var(--krem);
  color: var(--hitam);
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.add-button {
  background-color: var(--warna);
  color: var(--putih);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.action-button-edit {
  background-color: var(--warna);
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  margin-bottom: 5px;
}

.action-button-hapus {
  background-color: red;
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  width: 100%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 5px;
}

.action-button-detail {
  background-color: var(--warna);
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.add-news {
  position: absolute;
  top: 0;
  left: 100px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-wrap: wrap;
}

.add-news .containert {
  width: 75%;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--light-bg);
  border-radius: 10px;
  color: var(--hitam);
  padding: 50px;
  margin: 50px auto;
}

.add-news .containert .judul {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--hitam);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box label {
  font-size: 1rem;
  font-weight: 800;
  color: var(--hitam);
  margin-top: 1rem;
}

.box input,
.box select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1rem;
  color: var(--hitam);
  text-transform: none;
  outline: none;
}

input {
  border: var(--border);
  border-radius: 10px;
}

textarea {
  padding: 1.2rem;
  height: 150px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--warna);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  background-color: #476a82;
}

.button-containert {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-containert a {
  background-color: #a91d3a;
  color: var(--putih);
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  text-decoration: none;
}

.button-containert a:hover {
  background-color: #c73659;
}

.kgt {
  overflow-x: hidden;
  display: flex;
}

.kegiatan {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.kegiatan .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.kegiatan .header .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 40px;
}

.kegiatan .header .notification-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 6.7%;
  right: 10%;
  transform: translateY(-50%);
}

.kegiatan .list-kegiatan {
  display: flex;
  flex-direction: column;
}

.kegiatan .list-kegiatan .table {
  margin: 1rem;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 10px;
  background: var(--kremMud);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

th,
td {
  border: var(--border);
  padding: 0.4rem;
  text-align: center;
  text-transform: none;
}

td {
  background: var(--kremMud);
  color: var(--hitam);
}

th {
  background: var(--krem);
  color: var(--hitam);
  font-weight: bold;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.action-button-acc {
  background-color: var(--warna);
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.action-button-tolak {
  background-color: red;
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.org {
  overflow-x: hidden;
  display: flex;
}

.organisasi {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.organisasi .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.organisasi .header .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 40px;
}

.organisasi .header .notification-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 9%;
  right: 10%;
  transform: translateY(-50%);
}

.organisasi .list-organisasi {
  display: flex;
  flex-direction: column;
}

.organisasi .list-organisasi .table {
  margin: 1rem;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 10px;
  background: var(--kremMud);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

th,
td {
  border: var(--border);
  padding: 0.4rem;
  text-align: center;
  text-transform: none;
}

td {
  background: var(--kremMud);
  color: var(--hitam);
}

th {
  background: var(--krem);
  color: var(--hitam);
  font-weight: bold;
}

.user {
  overflow-x: hidden;
  display: flex;
}

.pengguna {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.pengguna .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pengguna .header .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 40px;
}

.pengguna .header .notification-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 9%;
  right: 10%;
  transform: translateY(-50%);
}

.pengguna .list-pengguna {
  display: flex;
  flex-direction: column;
}

.pengguna .list-pengguna .button-container {
  margin-bottom: 2rem;
}

.pengguna .list-pengguna .table {
  margin: 1rem;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 10px;
  background: var(--kremMud);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

th,
td {
  border: var(--border);
  padding: 0.4rem;
  text-align: center;
  text-transform: none;
}

td {
  background: var(--kremMud);
  color: var(--hitam);
}

th {
  background: var(--krem);
  color: var(--hitam);
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./img/fti.jpg") no-repeat;
  backdrop-filter: blur(3px);
  background-size: cover;
  background-position: center;
}

.room-header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

.room-header .logo {
  font-size: 50px;
  color: var(--putih);
}

.wrapper {
  width: 420px;
  background: transparent;
  border: var(--border);
  backdrop-filter: blur(20px);
  box-shadow: var(--box-shadow);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  user-select: none;
}

.wrapper h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--putih);
  user-select: none;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: var(--putih);
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: var(--putih);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--putih);
}

.input-box select {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: var(--putih);
  padding: 1rem;
  margin-bottom: 2rem;
}

select#role option {
  color: var(--hitam);
  background-color: var(--light-bg);
}

select#role option:checked {
  color: var(--putih);
  background-color: var(--light-black);
}

.wrapper .log {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.log:hover {
  background: var(--warna);
}

.log a {
  text-decoration: none;
  color: black;
}
