/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --warna: #3c5b6f;
  --hitam: #222;
  --putih: #fff;
  --krem: #f3d7ca;
  --kremMud: #f5eee6;
  --putihdikit: #fff8e3;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--hitam);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--warna);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--warna);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .logut {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  transition: var(--tran-03);
  padding: 10px 0;
}

.menu-bar .bottom-content .logut .text {
  margin-right: 1rem;
}

.menu-bar .bottom-content .logut:hover {
  background-color: var(--warna);
}

.menu-bar .bottom-content .logut:hover .icon,
.menu-bar .bottom-content .logut:hover .text {
  color: var(--sidebar-color);
}
body.dark .menu-bar .bottom-content .logut:hover .icon,
body.dark .menu-bar .bottom-content .logut:hover .text {
  color: var(--text-color);
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-wrap: wrap;
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.home .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.home .content .isian {
  box-shadow: var(--box-shadow);
  background: var(--light-white);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
}

.home .content .isian p {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--hitam);
  text-align: justify;
  text-transform: none;
}

.sidebar.close ~ .home,
.sidebar.close ~ .berita {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home,
body.dark .berita {
  color: var(--text-color);
}

body.dark .home .content .isian,
body.dark .berita .informasi table {
  background: var(--putih);
  color: var(--hitam);
}

.news {
  overflow-x: hidden;
  display: flex;
}

.berita {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
  padding: 2rem; /* Add padding for spacing */
}

.berita .text {
  font-size: 30px;
  margin-left: 1rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem; /* Add bottom margin for spacing */
}

.berita .informasi {
  display: flex;
  flex-direction: column;
}

.berita .informasi .button-container {
  margin-bottom: 2rem; /* Add bottom margin for spacing */
}

.berita .informasi .table {
  margin: 1rem;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 10px;
  background: var(--kremMud);
}

table {
  width: 100%; /* Use full width of the container */
  border-collapse: collapse;
  margin: 0; /* Remove margin, handled by .table */
}

th,
td {
  border: var(--border);
  padding: 0.4rem;
  text-align: center;
  text-transform: none;
}

td {
  background: var(--kremMud);
  color: var(--hitam);
}

th {
  background: var(--krem);
  color: var(--hitam);
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.add-button {
  background-color: var(--warna);
  color: var(--putih);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.action-buttons {
  display: flex;
  flex-direction: column;
}
.action-button-edit {
  background-color: var(--warna);
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.action-button-hapus {
  background-color: red;
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.action-button-detail {
  background-color: var(--warna);
  border-radius: 10px;
  color: var(--putih);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.add-news {
  position: absolute;
  top: 0;
  left: 100px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-wrap: wrap;
}

.add-news .containert {
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 150px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
