@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --warna: #3c5b6f;
  --hitam: #222;
  --putih: #fff;
  --krem: #f3d7ca;
  --kremMud: #f5eee6;
  --putihdikit: #fff8e3;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--hitam);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-decoration: none;
  text-transform: capitalize;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--putih);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--warna);
}

section {
  padding: 2rem 5%;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.heading {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  font-size: 5rem;
  color: var(--putih);
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

.heading-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--hitam);
}

.btn {
  display: inline-block;
  width: 100%;
  background: var(--hitam);
  margin-top: 1rem;
  color: var(--putih);
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: var(--warna);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--warna);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 1.8rem;
  color: var(--hitam);
}

.header .navbar a {
  font-size: 1.3rem;
  margin-left: 1.3rem;
  color: var(--hitam);
  cursor: pointer;
  user-select: none;
}

.header .navbar a:hover {
  color: var(--putihdikit);
}

.header .add {
  font-size: 1.8rem;
  color: var(--hitam);
  display: flex;
  align-items: center;
}

.header .add .notification-icon {
  cursor: pointer;
}

.header .add .user-pic {
  width: 50px;
  height: 50px;
  border-radius: 60%;
  cursor: pointer;
  margin-left: 30px;
  border: var(--border);
}

.header .navbar .sub-daftar-wrap {
  position: absolute;
  top: 75%;
  right: 38%;
  width: 30%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.header .add .sub-menu-wrap {
  position: absolute;
  top: 75%;
  right: 4%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.header .navbar .sub-daftar-wrap.open-daftar {
  max-height: 200px;
}

.header .add .sub-menu-wrap.open-menu {
  max-height: 400px;
}

.header .navbar .sub-daftar,
.header .add .sub-menu {
  background: var(--putih);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.header .navbar .sub-daftar hr,
.header .add .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--warna);
  margin: 15px 0 10px;
}

.header .navbar .pendaftaran {
  display: flex;
  flex-direction: column;
}

.header .add .user-info {
  display: flex;
  align-items: center;
}

.header .add .user-info h3 {
  font-weight: 800;
  font-size: 1.3rem;
}

.sub-daftar-links,
.sub-menu-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--warna);
  margin: 12px 0;
}

.sub-daftar-links p {
  width: 100%;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--hitam);
}

.sub-menu-links p {
  width: 100%;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--hitam);
}

.sub-daftar-links:hover p,
.sub-menu-links:hover p {
  color: var(--warna);
  font-weight: 600;
}

.sub-daftar-links span,
.sub-menu-links span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-daftar-links:hover span,
.sub-menu-links:hover span {
  color: var(--warna);
  transform: translateX(5px);
}

.header .add .sub-menu-wrap .sub-menu form {
  margin-left: auto;
}

.header .add .sub-menu-wrap .sub-menu .logut i,
.logut span {
  display: inline-block;
}

.header .add .sub-menu-wrap .sub-menu .logut {
  font-size: 1.3rem;
  background: none;
  border: none;
  justify-content: right;
  text-decoration: none;
  color: var(--hitam);
  margin-top: 1rem;
  cursor: pointer;
}

.header .add .sub-menu-wrap .sub-menu .logut:hover {
  color: var(--warna);
}

.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
}

.notification {
  background-color: #f0f8ff;
  border: 1px solid #dcdcdc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking .book-form {
  padding: 2rem;
  background: var(--light-bg);
  border-radius: 10px;
}

.booking .book-form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.booking .book-form .flex .inputbox {
  flex: 1 1 30rem;
}

.booking .book-form .flex .inputbox .data {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.booking .book-form .flex .inputbox input,
select,
textarea {
  width: 100%;
  padding: 1.2rem 1.2rem;
  font-size: 1rem;
  color: var(--hitam);
  text-transform: none;
  margin-top: 1rem;
  outline: none;
}

.booking .book-form .flex .inputbox textarea {
  height: 150px;
  resize: vertical;
}

.booking .book-form .flex .inputbox input:focus,
select:focus,
textarea:focus {
  background: var(--putih);
  color: var(--hitam);
  outline: none;
}

.booking .book-form .flex .inputbox input::placeholder {
  text-transform: capitalize;
}

.booking .book-form .flex .inputbox input:focus::placeholder {
  color: var(--light-black);
}

.booking .book-form .flex .inputbox span {
  font-size: 1rem;
  color: var(--hitam);
}

.booking .book-form .dokumen {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.booking .book-form .doc {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.booking .book-form .doc .box {
  flex: 1 1 30rem;
}

.booking .book-form .doc .box input {
  width: 100%;
  padding: 1.2rem 1.2rem;
  font-size: 1rem;
  color: var(--hitam);
  background: var(--light-bg);
  text-transform: none;
  margin-top: 1rem;
  outline: none;
  border: var(--border);
}

.booking .book-form .doc .box input:focus {
  background: var(--putih);
  color: var(--hitam);
  outline: none;
}

.booking .book-form .doc .box input::placeholder {
  text-transform: capitalize;
}

.booking .book-form .doc .box input:focus::placeholder {
  color: var(--light-black);
}

.booking .book-form .doc .box span {
  font-size: 1rem;
  color: var(--hitam);
}

.booking .book-form label {
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: none;
}

.booking .book-form label input {
  accent-color: var(--putih);
  margin-right: 0.5rem;
}

.booking .book-form .tombol {
  display: flex;
  text-align: right;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.editprofil {
  background: url("./img/fti7.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  display: flex;
}

.editProfile {
  border-radius: 20px;
  width: 600px;
  box-shadow: var(--box-shadow);
  color: white;
  padding: 2rem;
  margin: 4rem auto;
  background-color: var(--dark-bg);
}

h1 {
  text-align: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  margin-top: 10px;
}

.edit-form input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  padding: 15px 15px 15px 15px;
}

.edit-form .tombol {
  display: flex;
}

.edit-form .tombol a {
  background-color: #a91d3a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.edit-form .tombol button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  width: 100%;
  font-size: 0.8rem;
}

.edit-form .tombol button {
  text-decoration: none;
  color: white;
}

.edit-form .tombol button:hover {
  background-color: #45a049;
}

.edit-form .tombol a:hover {
  background-color: #c73659;
}
