:root {
  --warna: #3c5b6f;
  --hitam: #222;
  --putih: #fff;
  --krem: #f3d7ca;
  --kremMud: #f5eee6;
  --putihdikit: #fff8e3;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--hitam);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./img/warna.jpg") no-repeat;
  backdrop-filter: blur(3px);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--putihdikit);
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: var(--putih);
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: var(--putih);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--putih);
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: var(--warna);
}

.btn a {
  text-decoration: none;
  color: black;
}

.wrapper .daftar {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: var(--putihdikit);
}

.daftar p a {
  color: var(--putih);
  text-decoration: none;
  font-weight: 600;
}

.daftar p a:hover {
  text-decoration: underline;
}
