@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --warna: #3c5b6f;
  --hitam: #222;
  --putih: #fff;
  --krem: #f3d7ca;
  --kremMud: #f5eee6;
  --putihdikit: #fff8e3;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--hitam);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--putih);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--warna);
}

section {
  padding: 2rem 5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url("./img/warna.jpg") no-repeat; */
  backdrop-filter: blur(3px);
  background-size: cover;
  background-position: center;
}

.btn {
  display: inline-block;
  background: var(--hitam);
  margin-top: 1rem;
  color: var(--putih);
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: var(--warna);
}

.container {
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills about"
    "work_skills about";
  width: 85%;
  height: 95vh;
  background: var(--light-white);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.userProfile {
  grid-area: userProfile;
}

.userDetails {
  grid-area: userDetails;
}

.container .card {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.container header {
  padding: 0.5rem;
}

.container header .brandLogo {
  display: flex;
  align-items: center;
}

.container header .brandLogo .home {
  font-size: 3rem;
  color: var(--warna);
}

.container header .brandLogo span {
  font-size: 1rem;
  font-weight: 800;
}

.container .userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}

.container .userProfile .profile figure img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.userDetails {
  position: relative;
  padding: 1rem;
}

.userDetails .userName {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.userDetails .info-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.userDetails .userName h1 {
  font-size: 1rem;
}

.about {
  border-radius: 10px;
  padding: 5rem 10%;
  position: relative;
}

.about .contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.about .contact h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about .contact .info-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
