* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: url("/img/warna.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  border-radius: 20px;
  max-width: 600px;
  margin: 100px auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: white;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
}

h1 {
  text-align: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  padding: 15px 15px 15px 15px;
}

.btn {
  display: flex;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #45a049;
}
