<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Change Password</title>
  </head>
  <body class="edit-pw">
    <div class="ubah-pw">
      <h1>Change Password</h1>
      <form action="/ubahpw" method="POST" class="booking-form">
        <label for="oldPassword">Password Lama</label>
        <input type="password" id="oldPassword" name="oldPassword" required />

        <label for="newPassword">Password Baru</label>
        <input type="password" id="newPassword" name="newPassword" required />

        <label for="confirmPassword">Konfirmasi Password Baru</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <div class="bt">
          <a href="orga" class="back">Kembali</a>
          <button type="submit" value="Change Password">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
