<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Tambah Anggota</title>
  </head>
  <body>
    <section class="add-news">
      <div class="containert">
        <h2>Tambah Anggota</h2>
        <form
          action="/tambahPengurus/<%= orga.idOrga %>"
          method="post"
          id="beritaForm"
        >
          <div class="box">
            <label for="nama">Nama</label>
            <input
              type="text"
              id="nama"
              name="nama"
              placeholder="masukan nama pengurus"
            />

            <label for="nim">NIM</label>
            <input id="nim" name="nim" placeholder="masukan nim pengurus " />

            <label for="jabatan">Jabatan</label>
            <input
              type="text"
              id="jabatan"
              name="jabatan"
              placeholder="masukan jabatan pengurus"
            />

            <label for="noHp">No. HP</label>
            <input
              type="text"
              id="noHp"
              name="noHp"
              placeholder="masukan no. Hp pengurus"
            />

            <label for="jenisKelamin">Jenis Kelamin</label>
            <select id="jenisKelamin" name="jenisKelamin">
              <option value="" disabled selected hidden>
                ---Pilih Jenis Kelamin---
              </option>
              <option value="L">Laki-Laki</option>
              <option value="P">Perempuan</option>
            </select>
          </div>
          <div class="button-containert">
            <input type="submit" value="Simpan" />
            <a href="/anggota/<%= orga.idOrga %>">Batal</a>
          </div>
        </form>
      </div>
    </section>
    <script>
      document
        .getElementById("beritaForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData = new FormData(this);
          const object = {};
          formData.forEach((value, key) => (object[key] = value));
          const json = JSON.stringify(object);
          try {
            const response = await fetch("/tambahPengurus/<%= orga.idOrga %>", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: json,
            });

            if (response.ok) {
              const data = await response.json();
              Swal.fire({
                icon: "success",
                title: "Success",
                text: data.message,
                confirmButtonText: "OK",
              }).then(() => {
                window.location.href = "/anggota/<%= orga.idOrga %>";
              });
            } else {
              const errorData = await response.json();
              Swal.fire({
                icon: "error",
                title: "Invalid Data",
                text: errorData.message,
                confirmButtonText: "OK",
              });
            }
          } catch (error) {
            console.error("Error:", error);
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "Terjadi kesalahan pada server",
              confirmButtonText: "OK",
            });
          }
        });
    </script>
  </body>
</html>
