<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Dashboard Admin FTI</title>
  </head>
  <body>
    <%- include('../komponen/sidebar');%>
    <section class="home">
      <div class="header">
        <div class="text">Dashboard</div>
        <div class="notification-icon">
          <i class="bx bx-bell"></i>
        </div>
      </div>
      <div class="content">
        <div class="box">
          <div class="isian">
            <h3>Himpunan Mahasiswa Informatika</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              eum laborum modi dolorum. Ea velit blanditiis animi soluta
              repellendus aliquam pariatur, repudiandae quidem voluptas rem,
              natus dolorum quasi debitis! Tempore.
            </p>
            <a href="" class="btn">read more</a>
          </div>
          <div class="isian">
            <h3>Technofest 2024</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              eum laborum modi dolorum. Ea velit blanditiis animi soluta
              repellendus aliquam pariatur, repudiandae quidem voluptas rem,
              natus dolorum quasi debitis! Tempore.
            </p>
            <a href="" class="btn">read more</a>
          </div>
        </div>
        <div class="box">
          <div class="isian">
            <h3>BAKTI FTI 2024</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              eum laborum modi dolorum. Ea velit blanditiis animi soluta
              repellendus aliquam pariatur, repudiandae quidem voluptas rem,
              natus dolorum quasi debitis! Tempore.
            </p>
            <a href="" class="btn">read more</a>
          </div>
          <div class="isian">
            <h3>Rekrutmen Asisten Labor</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              eum laborum modi dolorum. Ea velit blanditiis animi soluta
              repellendus aliquam pariatur, repudiandae quidem voluptas rem,
              natus dolorum quasi debitis! Tempore.
            </p>
            <a href="" class="btn">read more</a>
          </div>
          <div class="isian">
            <h3>Rekrutmen Asisten Labor</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              eum laborum modi dolorum. Ea velit blanditiis animi soluta
              repellendus aliquam pariatur, repudiandae quidem voluptas rem,
              natus dolorum quasi debitis! Tempore.
            </p>
            <a href="" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");

      socket.on("connect", () => {
        console.log("Connected to Admin FTI");
        socket.emit("joinRoom", "adminfti");
      });

      socket.on("new_kegiatan", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_kegiatanMhs", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_organisasi", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "orga");
      });

      socket.on("new_berita", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.kegiatan.namaKegiatan} oleh ${data.kegiatan.nama}</p>
    `;
        } else if (type === "orga") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.orga.namaOrga} oleh ${data.orga.nama}</p>
    `;
        } else if (type === "berita") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.berita.judul} oleh ${data.berita.nama}</p>
    `;
        }
        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notificationContainer.removeChild(notification);
        }, 5000);
      }
    </script>
  </body>
</html>
