<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/admfti.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
<body class="dashboard">
    <div class="container">
        <aside class="sidebar">
            <div class="brandLogo">
                <a href="/" class="home"></a>
                <figure>
                    <img src="../img/unand.png" alt="logo" width="30px" height="30px" />
                </figure>
                <span>FTIOrganizerhub</span>
              </div>
            <ul>
                <li><a href="/"><i class='bx bxs-home'></i>Dashboard</a></li>
                <li><a href="informasi"><i class='bx bx-news' ></i>Informasi</a></li>
                <li><a href="#organisasi"><i class='bx bx-group'></i>Organisasi</a></li>
                <li><a href="#pengguna"><i class='bx bx-user' ></i>Pengguna</a></li>
                <li><a href="#pesan"><i class='bx bxs-message-dots'></i>Pesan</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <header class="header">
                
                <div class="header-right">
                    <div class="header-item" title="Notifikasi">
                        <i class='bx bxs-bell'></i>
                    </div>
                    <div class="header-item" title="Pesan">
                        <i class='bx bxs-message-dots'></i>
                    </div>
                    <div class="header-item">Profil</div>
                </div>                
            </header>
            <div class="informasi">
                <h1>Informasi</h1>
                    <div class="controls">
                      <div class="button-container">
                        <a href="tambahinformasi" class="add-button-link">
                        <button class="add-button"><i class='bx bx-plus'></i>Tambah</button></a>
                      </div>
                      <div class="search-container">
                        <input type="text" placeholder="Search..." class="search-input">
                        <button class="search-button"><i class='bx bx-search'></i></button>
                    </div>
                    </div>
                      <table>
                        <thead>
                          <tr>
                            <th>NO</th>
                            <th>JUDUL</th>
                            <th>GAMBAR</th>
                            <th>KATEGORI</th>
                            <th>TANGGAL POSTING</th>
                            <th>PENULIS</th>
                            <th>PILIHAN</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td><div class="gambar"></div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                              <div class="action-buttons">
                                <button class="action-button">Edit</button>
                                <button class="action-button">Hapus</button>
                                <button class="action-button">Detail</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td><div class="gambar"></div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                              <div class="action-buttons">
                                <button class="action-button">Edit</button>
                                <button class="action-button">Hapus</button>
                                <button class="action-button">Detail</button>
                              </div>
                            </td>
                          </tr>
            </div>
        </main>
    </div>
</body>

</html>
